#style {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}
@media (orientation: landscape) {
  /* При вертикальной ориентации фоновым цветом сайта будет чёрный */
  body {
    background: #000;
  }
}
